In [38]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.base import TransformerMixin
from sklearn_pandas import DataFrameMapper, cross_val_score
import seaborn as sns
import matplotlib

In [39]:
train = pd.read_csv('train.csv').drop('PassengerId', axis=1)
test = pd.read_csv('test.csv').drop('PassengerId', axis=1)
alldata = pd.concat([train.drop('Survived', axis=1),test])

# Exploring Data

In [40]:
train.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [41]:
alldata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 10 columns):
Pclass      1309 non-null int64
Name        1309 non-null object
Sex         1309 non-null object
Age         1046 non-null float64
SibSp       1309 non-null int64
Parch       1309 non-null int64
Ticket      1309 non-null object
Fare        1308 non-null float64
Cabin       295 non-null object
Embarked    1307 non-null object
dtypes: float64(2), int64(3), object(5)
memory usage: 112.5+ KB

**PassengerId** - irrelevant in terms of features (already droped)<br>
**Survived** - "1" if survived, "0" otherwise <br>
**Pclass** - one of three classes (1,2,3) <br>
**Name** - name of a passenger including their titles<br>
**Sex** - male or female<br>
**Age** - age in years <br>
**SibSp** - number of passenger's siblings and spauses travelling with them<br>
**Parch** - number of passenger's parents and children travelling with them<br>
**Ticket** - ticket number<br>
**Fare** - fare<br>
**Cabin** - letters encode deck number and numbers encode cabin number <br>

**Missing Data:** <br>
'Age': 263 missing samples<br>
'Cabin': 1014 missing samples (almost 80% of data missing!)<br>
'Emarked': only 2 missing samples

**Intuition**<br>
Sex, Pclass, Fare and Age may play an important role in classification.<br>
Cabin, and even more the deck encoded in this feature may be a very important factor. There are planty of samples missing though.<br>
Noble title which can be extracted from Name can be a good feature.

In [42]:
train.corr(method='spearman')

          Survived    Pclass       Age     SibSp     Parch      Fare
Survived  1.000000 -0.339668 -0.052565  0.088879  0.138266  0.323736
Pclass   -0.339668  1.000000 -0.361666 -0.043019 -0.022801 -0.688032
Age      -0.052565 -0.361666  1.000000 -0.182061 -0.254212  0.135051
SibSp     0.088879 -0.043019 -0.182061  1.000000  0.450014  0.447113
Parch     0.138266 -0.022801 -0.254212  0.450014  1.000000  0.410074
Fare      0.323736 -0.688032  0.135051  0.447113  0.410074  1.000000

## Title Encoding

Name is determied for each sample. We can use it to extract all the noble titles

In [43]:
set([i.split(', ')[1].split('.')[0] for i in alldata['Name']])

{'Capt',
 'Col',
 'Don',
 'Dona',
 'Dr',
 'Jonkheer',
 'Lady',
 'Major',
 'Master',
 'Miss',
 'Mlle',
 'Mme',
 'Mr',
 'Mrs',
 'Ms',
 'Rev',
 'Sir',
 'the Countess'}

In [53]:
class TitleEncoder(TransformerMixin):
    def fit(self, X, y=None):
        return self
    def transform(self, X):
        transformed = X.copy()
        for i in range(len(X)):
            transformed[i] = X[i].split(',')[1].split('.')[0]
        return transformed

In [54]:
mapper = DataFrameMapper([
    #features
    ('Pclass', sklearn.preprocessing.LabelBinarizer()),
    ('Sex', sklearn.preprocessing.LabelBinarizer()),
    ('Name', TitleEncoder(), {'alias':'Title'}),
    #result
    ('Survived', None)
], input_df=True, df_out=True)

In [55]:
mapper.fit_transform(train.copy())

     Pclass_1  Pclass_2  Pclass_3  Sex    Title  Survived
0           0         0         1    1       Mr         0
1           1         0         0    0      Mrs         1
2           0         0         1    0     Miss         1
3           1         0         0    0      Mrs         1
4           0         0         1    1       Mr         0
5           0         0         1    1       Mr         0
6           1         0         0    1       Mr         0
7           0         0         1    1   Master         0
8           0         0         1    0      Mrs         1
9           0         1         0    0      Mrs         1
10          0         0         1    0     Miss         1
11          1         0         0    0     Miss         1
12          0         0         1    1       Mr         0
13          0         0         1    1       Mr         0
14          0         0         1    0     Miss         0
15          0         1         0    0      Mrs         1
16          0         0         1    1   Master         0
17          0         1         0    1       Mr         1
18          0         0         1    0      Mrs         0
19          0         0         1    0      Mrs         1
20          0         1         0    1       Mr         0
21          0         1         0    1       Mr         1
22          0         0         1    0     Miss         1
23          1         0         0    1       Mr         1
24          0         0         1    0     Miss         0
25          0         0         1    0      Mrs         1
26          0         0         1    1       Mr         0
27          1         0         0    1       Mr         0
28          0         0         1    0     Miss         1
29          0         0         1    1       Mr         0
..        ...       ...       ...  ...      ...       ...
861         0         1         0    1       Mr         0
862         1         0         0    0      Mrs         1
863         0         0         1    0     Miss         0
864         0         1         0    1       Mr         0
865         0         1         0    0      Mrs         1
866         0         1         0    0     Miss         1
867         1         0         0    1       Mr         0
868         0         0         1    1       Mr         0
869         0         0         1    1   Master         1
870         0         0         1    1       Mr         0
871         1         0         0    0      Mrs         1
872         1         0         0    1       Mr         0
873         0         0         1    1       Mr         0
874         0         1         0    0      Mrs         1
875         0         0         1    0     Miss         1
876         0         0         1    1       Mr         0
877         0         0         1    1       Mr         0
878         0         0         1    1       Mr         0
879         1         0         0    0      Mrs         1
880         0         1         0    0      Mrs         1
881         0         0         1    1       Mr         0
882         0         0         1    0     Miss         0
883         0         1         0    1       Mr         0
884         0         0         1    1       Mr         0
885         0         0         1    0      Mrs         0
886         0         1         0    1      Rev         0
887         1         0         0    0     Miss         1
888         0         0         1    0     Miss         0
889         1         0         0    1       Mr         1
890         0         0         1    1       Mr         0

[891 rows x 6 columns]