In [14]:
import pandas as pd
import sklearn
from sklearn.base import TransformerMixin
from sklearn_pandas import DataFrameMapper, cross_val_score

In [15]:
train = pd.read_csv('train.csv')

In [16]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [20]:
class TitleEncoder(TransformerMixin):
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        transformed = X.copy()
        for i in range(len(X)):
            transformed[i] = X[i].split(',')[1].split('.')[0]
        return transformed

In [21]:
mapper = DataFrameMapper([
    #features
    ('Pclass', sklearn.preprocessing.LabelBinarizer()),
    ('Sex', sklearn.preprocessing.LabelBinarizer()),
    ('Name', TitleEncoder(), {'alias':'Title'}),
    #result
    ('Survived', None)
], input_df=True, df_out=True)

In [22]:
mapper.fit_transform(train.copy())

     Pclass_1  Pclass_2  Pclass_3  Sex    Title  Survived
0           0         0         1    1       Mr         0
1           1         0         0    0      Mrs         1
2           0         0         1    0     Miss         1
3           1         0         0    0      Mrs         1
4           0         0         1    1       Mr         0
5           0         0         1    1       Mr         0
6           1         0         0    1       Mr         0
7           0         0         1    1   Master         0
8           0         0         1    0      Mrs         1
9           0         1         0    0      Mrs         1
10          0         0         1    0     Miss         1
11          1         0         0    0     Miss         1
12          0         0         1    1       Mr         0
13          0         0         1    1       Mr         0
14          0         0         1    0     Miss         0
15          0         1         0    0      Mrs         1
16          0         0         1    1   Master         0
17          0         1         0    1       Mr         1
18          0         0         1    0      Mrs         0
19          0         0         1    0      Mrs         1
20          0         1         0    1       Mr         0
21          0         1         0    1       Mr         1
22          0         0         1    0     Miss         1
23          1         0         0    1       Mr         1
24          0         0         1    0     Miss         0
25          0         0         1    0      Mrs         1
26          0         0         1    1       Mr         0
27          1         0         0    1       Mr         0
28          0         0         1    0     Miss         1
29          0         0         1    1       Mr         0
..        ...       ...       ...  ...      ...       ...
861         0         1         0    1       Mr         0
862         1         0         0    0      Mrs         1
863         0         0         1    0     Miss         0
864         0         1         0    1       Mr         0
865         0         1         0    0      Mrs         1
866         0         1         0    0     Miss         1
867         1         0         0    1       Mr         0
868         0         0         1    1       Mr         0
869         0         0         1    1   Master         1
870         0         0         1    1       Mr         0
871         1         0         0    0      Mrs         1
872         1         0         0    1       Mr         0
873         0         0         1    1       Mr         0
874         0         1         0    0      Mrs         1
875         0         0         1    0     Miss         1
876         0         0         1    1       Mr         0
877         0         0         1    1       Mr         0
878         0         0         1    1       Mr         0
879         1         0         0    0      Mrs         1
880         0         1         0    0      Mrs         1
881         0         0         1    1       Mr         0
882         0         0         1    0     Miss         0
883         0         1         0    1       Mr         0
884         0         0         1    1       Mr         0
885         0         0         1    0      Mrs         0
886         0         1         0    1      Rev         0
887         1         0         0    0     Miss         1
888         0         0         1    0     Miss         0
889         1         0         0    1       Mr         1
890         0         0         1    1       Mr         0

[891 rows x 6 columns]